<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>QtFM.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
        <string>6.3.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
        <string>QtFM</string>
	<key>CFBundleIdentifier</key>
        <string>eu.qtfm</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>QtFM needs access to browse files on your Desktop.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>QtFM needs access to browse files in your Documents folder.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>QtFM needs access to browse files in your Downloads folder.</string>
	<key>NSNetworkVolumesUsageDescription</key>
	<string>QtFM needs access to browse network volumes.</string>
	<key>NSRemovableVolumesUsageDescription</key>
	<string>QtFM needs access to browse removable drives.</string>
	<key>NOTE</key>
	<string>https://qtfm.eu</string>
</dict>
</plist>
